@{
    ViewData["Title"] = "Index";
}
<h1>Login/Register</h1>
<a href='@Url.Action("Login_view","Account")'><button type="button">Inicia Sesion</button></a>
<a href='@Url.Action("Registro_view","Account")'><button type="button">Registrate</button></a>